node-red/flows_shaggy.json
[{"type":"tab","id":"477e07af.088338","label":"Mqtt outputs"},{"type":"tab","id":"a462c97c.c3b24","label":"Power"},{"id":"db2a4344.c95bd8","type":"mqtt-broker","broker":"brick.local","port":"1883","clientid":"nodered"},{"id":"d53bf7d8.c10b8","type":"sunrise","name":"Sunrise and set","lat":"53.9663","lon":"-1.0767 ","start":"sunrise","end":"sunset","x":94,"y":75,"z":"477e07af.088338","wires":[["5fa6ba66.89c164","8da63ba5.947ef"],["5b1a07f.6e705f8","5ef02cb4.fbe674"]]},{"id":"adc27c59.f8e7f","type":"mqtt out","name":"sun and moon","topic":"","broker":"db2a4344.c95bd8","x":692,"y":50,"z":"477e07af.088338","wires":[]},{"id":"785e2ef5.5998a8","type":"mqtt in","name":"/sun/state","topic":"/sun/state","broker":"db2a4344.c95bd8","x":898,"y":45,"z":"477e07af.088338","wires":[["7011aadc.82891c"]]},{"id":"7011aadc.82891c","type":"debug","name":"Show me","active":true,"complete":"true","x":1051,"y":45,"z":"477e07af.088338","wires":[]},{"id":"b0c7c467.3ae368","type":"inject","name":"Ping","topic":"nodered","payload":"Ping","repeat":"5","crontab":"","once":false,"x":83,"y":256,"z":"477e07af.088338","wires":[["f930669b.0c7b78","64c3c2ac.b7e36c"]]},{"id":"f930669b.0c7b78","type":"mqtt out","name":"/ping","topic":"/ping","broker":"db2a4344.c95bd8","x":246,"y":261,"z":"477e07af.088338","wires":[]},{"id":"99158491.8501a","type":"mqtt in","name":"/ping","topic":"/ping","broker":"db2a4344.c95bd8","x":660,"y":260,"z":"477e07af.088338","wires":[["3fc6bd97.dcd1a2"]]},{"id":"3fc6bd97.dcd1a2","type":"debug","name":"Ping out init","active":false,"complete":"true","x":858,"y":271,"z":"477e07af.088338","wires":[]},{"id":"64c3c2ac.b7e36c","type":"debug","name":"","active":false,"complete":false,"x":226,"y":315,"z":"477e07af.088338","wires":[]},{"id":"5fa6ba66.89c164","type":"debug","name":"","active":true,"complete":"true","x":389,"y":25,"z":"477e07af.088338","wires":[]},{"id":"5b1a07f.6e705f8","type":"debug","name":"Sunset change","active":true,"complete":"true","x":319,"y":178,"z":"477e07af.088338","wires":[]},{"id":"eab48824.4fb2a","type":"function","name":"National Grid","func":"\n  // does a simple text extract parse of the http output to provide an\n    // object containing the uk power demand, frequency and time\n    \n    if (~msg.payload.indexOf('<BR')) {\n      var words = msg.payload.split(\"div\")[1].split(\"<BR\");\n      if (words.length >= 3) {\n        msg.payload = {};\n        msg.payload.demand = parseInt(words[0].split(\":\")[1]);\n        msg.payload.frequency = parseFloat(words[2].split(\":\")[1]);\n        msg.payload.time = words[1].split(\">\")[1];\n        \n        // Create the true/false signal based on the frequency.\n        msg2 = {};\n        msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n        \n        return [msg,msg2];\n      }\n    }\n    return null;","outputs":"2","x":271,"y":421,"z":"477e07af.088338","wires":[["a82e5385.f72c9"],["a5a2f7f2.6925e8"]]},{"id":"682d8454.3aa61c","type":"http request","name":"National Grid","method":"GET","url":"http://www.nationalgrid.com/ngrealtime/realtime/systemdata.aspx","x":122,"y":464,"z":"477e07af.088338","wires":[["eab48824.4fb2a"]]},{"id":"7fe132ca.203a04","type":"inject","name":"","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":90,"y":403,"z":"477e07af.088338","wires":[["682d8454.3aa61c"]]},{"id":"a82e5385.f72c9","type":"debug","name":"","active":true,"complete":false,"x":477,"y":404,"z":"477e07af.088338","wires":[]},{"id":"a5a2f7f2.6925e8","type":"debug","name":"","active":true,"complete":false,"x":450,"y":449,"z":"477e07af.088338","wires":[]},{"id":"8da63ba5.947ef","type":"function","name":"Sun state and moon factor to topic","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif ( msg.payload == 0 ) {\n  new_payload = \"down\"\n} else {\n  new_payload = \"up\"\n}\nvar sunstate = { payload: new_payload, topic:\"/sun/state\" };\n\nvar moonstate = { payload: msg.moon, topic:\"/moon/factor\" };\n\nreturn [sunstate, moonstate];","outputs":"2","x":386,"y":69,"z":"477e07af.088338","wires":[["adc27c59.f8e7f"],["adc27c59.f8e7f"]]},{"id":"fc3b3da2.6e7e3","type":"mqtt in","name":"/moon/factor","topic":"/moon/factor","broker":"db2a4344.c95bd8","x":899,"y":141,"z":"477e07af.088338","wires":[["1778ec26.3dab7c"]]},{"id":"1778ec26.3dab7c","type":"debug","name":"","active":true,"complete":false,"x":1055,"y":142,"z":"477e07af.088338","wires":[]},{"id":"5ef02cb4.fbe674","type":"mqtt out","name":"/sun/event","topic":"/sun/event","broker":"db2a4344.c95bd8","x":629,"y":126,"z":"477e07af.088338","wires":[]},{"id":"ba1e0cb6.287ec","type":"mqtt in","name":"/sun/events","topic":"/sun/events","broker":"db2a4344.c95bd8","x":86,"y":60,"z":"a462c97c.c3b24","wires":[["76b20e5c.538ec8"]]},{"id":"76b20e5c.538ec8","type":"function","name":"On at sunset","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif (msg.payload == 0) {\n  lounge = { payload: \"on\", topic: \"/homeauto/power/A2\"};\n  hall = { payload: \"on\", topic: \"/homeauto/power/B2\"};\n  return [lounge, hall];\n} else {\n  return [null, null ];\n}\n","outputs":"1","x":259,"y":64,"z":"a462c97c.c3b24","wires":[["6ec41d99.fc5a2c","e23e8e59.769f68"]]},{"id":"6ec41d99.fc5a2c","type":"mqtt out","name":"/homeauto/power/","topic":"","broker":"db2a4344.c95bd8","x":431,"y":65,"z":"a462c97c.c3b24","wires":[]},{"id":"e23e8e59.769f68","type":"debug","name":"","active":true,"complete":false,"x":432,"y":124,"z":"a462c97c.c3b24","wires":[]}]